/* Transforme le modèle de boite par défaut pour inclure dans la largeur et la hauteur, les marges intérieures et les bordures. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Les règles typographiques générales qui s'appliquent à tout le site */
body {
    font-family: var(--font-family-OS);
    font-size: var(--texte);
    line-height: 1.6;
    background-color: var(--fond--gris-clair);
    color: var(--texte--noir);
    margin-top: 50px;
}

main {
    padding: var(--space1x);
}

/* Les règles typographiques générales des titres */
h1 {
    font-family: var(--font-family-PlDi);
    font-size: var(--header);
    color: var(--fond--blanc);

}

h2 {
    color: var(--texte--noir);
    font-weight: bold;
    font-size: var(--titre-menu);
}

h3 {
    color: var(--fond--blanc);
    font-size: var(--texte);
}

h4 {
    font-weight: normal;
}

h5 {
    font-style: italic;
}

/* Annuler la mise en forme des bouton qu'applique le navigateur. */
button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

/* Pour enlever l'apparence par défaut des listes */
.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Classe générique permettant de définir les marges sur les cotés */
.container {
    padding-left: var(--space3x);
    padding-right: var(--space3x);
}

/* Bug IOS
=> L'overflow doit être appliqué sur l'élément body ET html
pour faire disparaître le scroll sur safari IOS */
.noscroll,
.noscroll body {
  overflow: hidden;
}

