.footer {
    background-color: var(--fond--gris-fonce);
    color: var(--fond--blanc);
    margin-bottom: var(--space1x);
    

}

.footer__link {
    display: flex;
    align-items: center;
    justify-content: center;
}

