.part__title {
    background-color: var(--fond--rouge);
    width: max-content;
}

.part__img_DG {
    display: flex; 
    flex-flow: row nowrap; 
    align-items: flex-start;
}

.part_img1 {
    width: 179px;
    height: 280px;
}

.part__exp_img {
    font-size: var(--exp--img);
    text-align: center;
}

.part__miniTitle {
    border-top: solid 1px var(--fond--rouge);
    padding-top: 20px;
}

.fin__partie {
    text-align: center;
}

.part__link {
    display: block;
    background-color: var(--fond--gris-fonce);
    width: max-content;
    color: var(--fond--blanc);
    text-decoration: none;
}

.lp1, .lp2 {
    margin-left: auto;
}

.part__petitTitle {
    border-bottom: solid 2px var(--fond--rouge);
    width: max-content;
    max-width: 375px;
}

.part__DGp3 {
    display: flex; 
    flex-flow: row nowrap; 
    align-items: flex-start;
}

.part__DGp3>.gauche {
    flex: none;
}

.Gp {
    width: 117px;
}

.bandeAnnonce {
    width: 375px;
    height: 211px;
}

blockquote {
    font-size: 1rem;
    text-align: center;
    color: #982118;
    border-left: 7px solid #982118;
    background: #ebebeb;
    margin: 1.5em 25px;
    padding: 1px 10px;
    quotes:"\201C""\201D""\2018""\2019";
    margin-top: 0em;
    margin-bottom: 2em;
}