.menu{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    overflow: hidden;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(----fond--gris-clair);
    color: var(--texte--noir);
    font-size: var(--titre-menu);
    transition: all 1s ease;
    transform: translateX(100%);
}

.menu--open {
    visibility: visible;
    background-color: var(--fond--gris-clair);
    background-image: url("/public/img/pomme_noire.png");
    background-repeat: no-repeat;
    background-position: bottom right 50px;
    opacity: 1;
    transform: translateX(0);
}

.menu__list {
    margin-top: 30%;
    margin-left: 15px;
}

.menu__link {
    color: var(--texte--noir);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__bar {
    border-bottom: solid ;
    border-color: var(--fond--gris-fonce);
    border-width: 2px;
}

.menu__item {
    margin-top: 37px;
}

.text__blanc{
    color: var(--fond--blanc);
}

/*Mise en forme du menu hamburger*/
.menu-btn {
    position: relative;
    z-index: 5;
    width: 30px; 
    background-color: var(----fond--gris-fonce);
    color: var(--texte--noir);
    border: none;

  }

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: '';
    background: var(--fond--blanc);
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
    transition: all .8s ease;
    
}

.menu-btn__bar::before {
    top: -10px;
}

.menu-btn__bar::after {
    top: 10px;
}

/*transformation btn en croix*/
.menu-btn--open .menu-btn__bar,
.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  transform: rotate(135deg);
}
.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  top: 0;
  transform: rotate(90deg);
}

.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar,
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar::before,
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar::after {
  background-color: var(--fond--gris-fonce);
  color: var(--fond--blanc);
}